.login {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: center/cover url('~@/assets/login.png');

  h1 {
    text-align: center;
    color: #64A15E;
  }

  .login-container {
    width: 440px;
    height: 360px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    background: #f2f7f6;
    box-shadow: 20px 20px 60px #ffffff, -20px -20px 60px #ffffff;
    border: none !important;
  }

  .login-checkbox-label,
  .ant-btn-primary {
    // color: #64A15E;
    background-color: #64A15E !important;
  }
}